/* Estilos generales para la sección de cheques */
.content {
 padding-top: 60px;    
 padding-left: 60px;
 padding-right: 20px;
 box-sizing: border-box;
 overflow: hidden; /* Mantener el overflow original */
}

/* ============================= */
/* BARRA SUPERIOR: BOTÓN + BUSCADOR */
/* ============================= */

.top-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}

/* ===================== */
/* Grupos de campos modificados   */
/* ===================== */
.form-group {
 display: flex;
 position: relative;
 flex-direction: column;
 margin-bottom: 0px;
}


/* Clase para ocultar contenido */
.hidden {
    display: none !important;
}

/* Para alineación a la derecha de celdas específicas, como el importe */
.tabla-dinamica .text-right {
    text-align: right;
}