.text-input {
    width: 100%;
    height: 55px;
    padding: 0px 10px 0px 48px !important;/* Desplazamiento para icono */
    background: #FFFFFF;
    color: #444444;
    border-color: #D6D6D6;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
    font-family: "Source Sans 3";
    font-weight: 500;
    font-size: 16px;
    text-align: left;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.form-group input,
.form-group select { /* Añadido 'select' para que tenga los mismos estilos básicos que los inputs */
 padding: 8px 12px;
 border: 1px solid #ccc;
 border-radius: 5px;
 font-size: 15px;
 outline: none;
}

.select-format {
    padding: 4px 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
}

.input[type="date"] {
  padding: 6.5px 12px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Estilos para campos de solo lectura */
.form-group input[readonly] {
    background-color: #f0f0f0; 
    cursor: default; 
    border-color: #e0e0e0;
}

.form-group input[readonly]:focus {
    border-color: #e0e0e0;
    box-shadow: 0 0 3px rgba(103, 103, 104, 0.3);
}

.form-group input[editing] {
    background-color: #FFFFFF; 
    cursor: default; 
}

.form-group input[editing]:focus {
    border-color: #ebecb3;
    box-shadow: 0 0 3px rgba(231, 228, 49, 0.3);
}

.input-select {
    max-width: 2vw;
    margin: auto;
    padding: 5px 5px;
}


.form-group input:focus,
.form-group select:focus { 
    border-color: #007bff;
    box-shadow: 0 0 3px rgba(0, 123, 255, 0.3);
}

.icon-wrapper-input {
    position: absolute;
    left: 18px;
    top: 39px;
    display: flex;
    align-items: center;
}

.password-icon {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 4%;
    top: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

<<<<<<< HEAD
@media (max-width: 768px) {
    input[type="date"]{
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
    }
}
=======

>>>>>>> origin/InProgress_VyP
