body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EBEBEB; /* Matches rectangle-9 background */
}

.rectangle-9 {
    width: 1366px;
    padding: 8px;
    background: #EBEBEB;
    border-color: #F7F6F600; /* Transparent border, effectively no border */
    border-width: 1px;
    border-style: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
}

.title {
    height: 25px;
    color: #444444;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.2px;
    text-align: center;
    margin-top: 25px;
}

.title-header {
    height: 50px;
    color: #444444;
    font-family: "Montserrat";
    font-weight: bold;
    font-size: 32px;
    line-height: 1.28;
    letter-spacing: -0.2px;
    text-align: center;
}

.subtext {
    margin-top: 20px;
    height: 60px;
    color: #7A7A7A;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
}

.form-group {
    position: relative;
    margin-bottom: 10px;
    width: 527px; /* Match text input width */
}

.cuil {
    height: 35px;
    color: #7A7A7A;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    text-align: left;
    margin-bottom: 5px;
}

.invalid-input {
    color: red;
    font-family: 'Source Sans 3'; 
    font-weight: 400; 
    font-size: 14px; 
    line-height: 1.3;
    text-align: left;
    margin-top: 3px;
}

.forgot-password {
    width: 525px;
    height: 32px;
    color: #444444;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 15px;
    text-decoration: underline;
    line-height: 1.3;
    text-align: left;
    margin-top: 10px;
    cursor: pointer;
}

.button-14 {
    width: 527px;
    height: 60px;
    padding: 0px 10px;
    background: #444444;
    color: #FFFFFF;
    border-color: #444444;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    font-family: "Source Sans 3";
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin-top: 30px;
    display: flex; /* To align text and icon */
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.button-14:hover {
    background-color: #313131;
}

.register-text {
    width: 250px;
    color: #444444;
    font-family: "Source Sans 3";
    font-weight: 400;
    font-size: 15px;
    line-height: 1.3;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}